VITE_SUPABASE_URL=https://uazxgjstpvownycsapxt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhenhnanN0cHZvd255Y3NhcHh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg0MjU5ODksImV4cCI6MjA2NDAwMTk4OX0.GOVd8-AO_1zzw3sHDmRLvnUo0d_LDx0Y1PyPYfGyOZo
